go 1.23.2

use (
	./api-client
	./blog-api
	./context_dome
	./dependency-injection
	./fenbusuo
	./go-net-deamon
	./large-files-over-tcp
	./shengchengqi
	./stack_structure
	./tasksum
	./tcp-scanner
	./work-pool
)
